<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DeleteDemo1</servlet-name>
        <servlet-class>DeleteDemo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertDemo</servlet-name>
        <servlet-class>InsertDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDemo</servlet-name>
        <servlet-class>LoginDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuDemo</servlet-name>
        <servlet-class>MenuDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisDemo</servlet-name>
        <servlet-class>RegisDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchDemo1</servlet-name>
        <servlet-class>SearchDemo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAll</servlet-name>
        <servlet-class>ShowAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDemo1</servlet-name>
        <servlet-class>UpdateDemo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDemo2</servlet-name>
        <servlet-class>UpdateDemo2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutdemo</servlet-name>
        <servlet-class>logoutdemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteDemo1</servlet-name>
        <url-pattern>/DeleteDemo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertDemo</servlet-name>
        <url-pattern>/InsertDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDemo</servlet-name>
        <url-pattern>/LoginDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuDemo</servlet-name>
        <url-pattern>/MenuDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisDemo</servlet-name>
        <url-pattern>/RegisDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchDemo1</servlet-name>
        <url-pattern>/SearchDemo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAll</servlet-name>
        <url-pattern>/ShowAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDemo1</servlet-name>
        <url-pattern>/UpdateDemo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDemo2</servlet-name>
        <url-pattern>/UpdateDemo2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutdemo</servlet-name>
        <url-pattern>/logoutdemo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
